@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@font-face {
  font-family: Asian Ninja;
  src: url('../util/AsianNinja-jED8y.otf');
}

body {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #FFDFB1;
  width: 95vw;
  font-size: 14px;
  font-weight: bold;
  overflow-x: hidden;
}

/****************************** NAVIGATION ******************************/

#nav-bar-item-logo {
  font-family: 'Asian Ninja';
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #2e2e2e;
  text-decoration: none;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  height: 10vh;
  background-color: transparent;
}

#nav-block {
  display: flex;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nav-bar-item {
  margin: 5px;
  background-color: #2e2e2e;
  color: white;
  padding: 5px 20px;
  border-radius: 6px;
  max-height: 30px;
  cursor: pointer;
  text-decoration: none;
}

#nav-bar-item-socials {
  margin: 5px;
  background-color: white;
  color: #272626;

  padding: 5px 40px 5px 0px;
  border-radius: 6px;
  max-height: 30px;
  cursor: pointer;
  text-decoration: none;
}

#bgr-menu {
  display: none;
  background-color: white;
  border-radius: 10px;
  margin-right: -10px;
  z-index: 10;
}

#bgr-nav-bar-item {
  margin: 5px;
  background-color: #2e2e2e;
  color: white;
  padding: 5px 20px;
  border-radius: 6px;
  max-height: 30px;
  cursor: pointer;
  text-decoration: none;
}

#bgr-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 11;
}

/****************************** HOME ******************************/

#header-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
}

#home-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
}

#home-title {
  font-family: 'Asian Ninja';
  font-size: 165px;
  color: #2e2e2e;
  z-index: 0;
  text-align: center;
  align-items: stretch;
}

#home-image-container {
  position: absolute;
  left: 0vw;
  right: 0vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  max-height: 428.3999938964844vh;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: center;
  height: 90vh;
  width: 95vw;
}

#home-image-container-animation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

#home-image-left {
  width: 370px;
  height: 416px;
  border-radius: 10px;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: cover;
  background-image: url('../img/home-image-left.png');
}

#home-image-center {
  width: 370px;
  height: 416px;
  border-radius: 10px;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: cover;
  background-image: url('../img/home-image-center.png');
}

#home-image-right {
  width: 370px;
  height: 416px;
  border-radius: 10px;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: cover;
  background-image: url('../img/home-image-right.png');
}

#home-subtitle {
  font-size: 30px;
  color: white;
}

#welcome-container {
  margin-top: 50px;
}

#welcome-text {
  color: rgb(46, 46, 46);
  text-align: center;
  margin: 0px;
  font-weight: bold;
  font-size: 35px;
  margin: 50px 0 20px 0;
}

#sub-welcome-text {
  color: rgba(46, 46, 46, 0.8);
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 18px;
}

#grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2e2e2e;
  font-family: 'DM Sans';
  width: 75vw;
  margin: 60px 0;
}

#grid-row-1,
#grid-row-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 75vw;
}

#grid-row-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: auto;
  width: 75vw;
  justify-content: center;
}

#grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 5px solid #2e2e2e;
}

#grid-text-small-screen {
  display: none;
}

#grid-item-none-1or3 {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: transparent;
  width: 300px;
  height: 300px;
}

#grid-item-none-2 {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  width: 300px;
  height: 300px;
}

#grid-img-card {
  max-height: 120px;
}

.ant-collapse-header {
  display: flex;
  flex-direction: row;
}

#faq-container {
  margin-bottom: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-content {
  display: flex;
  align-items: flex-start;
  color: #2e2e2e96;
  width: 50vw;
}

/****************************** VISION ******************************/

#header-vision {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#hero-vision-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

#hero-img-vision-card {
  width: 35vw;
  height: 30vw;
  border-radius: 30px;
  margin: 0 70px;
  border: 4px solid #2e2e2e;
  max-height: 390px;
  margin-top: auto;
  margin-bottom: auto;
}

#hero-content-vision-card {
  width: 40vw;
  height: fit-content;
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: medium;
}

#content-vision-section {
  max-width: 100%;
}

#h1-vision {
  color: rgb(46, 46, 46);
  text-align: left;
  margin: 0px;
  font-weight: bold;
  font-size: 35px;
  width: 100%;
}

#h2-vision {
  color: rgba(46, 46, 46, 0.62);
  text-align: left;
  margin: 0 0 15px 0;
  font-size: 28px;
  width: 100%;
}

#h1-vision-middle-title {
  color: rgb(46, 46, 46);
  text-align: center;
  margin: 0px;
  font-weight: bold;
  font-size: 35px;
  width: 100%;
}

#h2-vision-middle-subtitle {
  color: rgba(46, 46, 46, 0.62);
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 28px;
  width: 100%;
}

#p-vision {
  color: rgba(46, 46, 46, 0.62);
  text-align: left;
  font-weight: bold;
  line-height: 1.4;
}

#content-vision-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#content-vision-4-benefits {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#content-vision-4-benefits-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0;
  margin: 60px 0;
}

#content-vision-benefit {
  min-width: 414px;
  min-height: 140px;
  height: 160px;
  width: 35vw;
  background-color: #2e2e2eda;
  padding: 20px;
  border-radius: 30px;
  border: 4px solid #2e2e2e;
}

#content-vision-benefit-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#content-vision-benefit-item-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 100%;
  font-size: 40px;
}

#content-benefit-icon {
  margin: 0 0;
}

#content-vision-benefit-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: fit-content;
}

#content-vision-benefit-item-text {
  color: white;
  text-align: left;
  margin-left: 20px;
  padding-right: 20px;
}

#content-vision-benefit-item-text-title {
  margin: 10px 0;
  font-size: 25px;
}

#content-vision-benefit-item-text-p {
  font-weight: 100;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
}

#footer {
  display: flex;
  background-color: #2e2e2e;
  justify-content: space-around;
  align-items: center;
  height: 160px;
  margin: 0 70px 70px 70px;
  border-radius: 30px;
  font-family: 'Asian Ninja';
  color: white;
  letter-spacing: 2px;
  width: 85vw;
}

#footer-text-info {
  font-family: 'DM Sans', sans-serif;
}

#marquee {
  width: 110%;
  margin-bottom: 60px;
}

.marquee-img {
  width: 230px;
  height: 230px;
  border-radius: 10px;
  background-image: url('../img/1.png');
  background-position: 0px 0px;
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

#marquee-img-1-id {
  background-image: url('../img/1.png');
}

#marquee-img-2-id {
  background-image: url('../img/2.png');
}

#marquee-img-3-id {
  background-image: url('../img/3.png');
}

#marquee-img-4-id {
  background-image: url('../img/4.png');
}

#marquee-img-5-id {
  background-image: url('../img/5.png');
}

#marquee-img-6-id {
  background-image: url('../img/6.png');
}

#marquee-img-7-id {
  background-image: url('../img/7.png');
}

#marquee-img-8-id {
  background-image: url('../img/8.png');
}

/****************************** TEAM ******************************/

#header-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 97vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#hero-team-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #2e2e2e;
  font-size: 35px;
  line-height: 100%;
}

#team-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

#team-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85vw;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#team-individual-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 350px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #272626;
}

#team-individual-img-1 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-image: url('../img/1.png');
  background-position: 0px 0px;
  background-size: cover;
}

#team-individual-img-2 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-image: url('../img/2.png');
  background-position: 0px 0px;
  background-size: cover;
}

#team-individual-img-3 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-image: url('../img/3.png');
  background-position: 0px 0px;
  background-size: cover;
}

#team-individual-img-4 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-image: url('../img/4.png');
  background-position: 0px 0px;
  background-size: cover;
}

#team-individual-img-5 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-image: url('../img/5.png');
  background-position: 0px 0px;
  background-size: cover;
}

#team-individual-img-6 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-image: url('../img/6.png');
  background-position: 0px 0px;
  background-size: cover;
}

#team-individual-img-7 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-image: url('../img/7.png');
  background-position: 0px 0px;
  background-size: cover;
}

#team-individual-img-8 {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-image: url('../img/8.png');
  background-position: 0px 0px;
  background-size: cover;
}

#team-individual-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
  margin-left: 10px;
}

#team-name {
  color: #fff;
  font-size: 20px;
  padding-left: 5px;
}

#team-role {
  padding-left: 5px;
  color: hsla(0, 0%, 100%, 0.6);
}

#team-link {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  background-size: auto;
}

#team-link-container {
  margin-top: 5px;
}


#team-link-individual-link {
  margin: 5px;
  background-color: white;
  color: #272626;
  padding: 5px 0;
  border-radius: 6px;
  max-height: 30px;
  cursor: pointer;
  text-decoration: none;
}

/****************************** FAQ *******************************/

#faq-container {
  margin-right: auto;
  margin-left: auto;
}

.row-title-text {
  text-align: left;
}

.styles_row-content__QOGZd.row-content.styles_animate__3ecdr {
  width: auto;
  text-align: left;
}

/****************************** MINT ******************************/

#header-mint {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
  width: 97vw;
  height: auto;
  margin-bottom: 60px;
}

#minting-text-container {
  margin: 0
}

#mint-text {
  margin: 0;
}

#minting-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 97vw;
}

#minting-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#image-minting-card {
  width: 450px;
  height: 350px;
  border: 4px solid #2e2e2e;
  border-radius: 20px;
  background-image: url('../img/imgmint.png');
  background-position: 50% 0%;
  background-size: cover;
}

#minting-card {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 450px;
  height: 350px;
  color: white;
}

#wallet-button {
  display: flex;
  flex-direction: row;
  padding: 7px 16px;
  background-color: white;
  float: right;
  border: 2px solid #2e2e2e;
  color: #2e2e2e;
  cursor: pointer;
  width: 175px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 30px;
}

button {
  padding: 9px 16px;
  max-height: 40px;
  border-color: #2e2e2e;
  border: none;
  background: none;
  color: white;
  background-color: #2e2e2e;
  border-radius: 6px;
  align-items: center;
}

#minting-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2e2e2e;
}

#choose-mint-number-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#increment-decrement {
  cursor: pointer;
}

#mint-button-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#mint-button {
  cursor: pointer;
  font-family: 'DM Sans';
  font-size: bold;
}

/****************************** FOOTER ******************************/

#footer {
  margin: 0 auto 70px auto;
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
@media screen and (max-width: 1155px) {
  #home-image-left {
    width: 300px;
    height: 337px;
  }

  #home-image-center {
    width: 300px;
    height: 337px;
  }

  #home-image-right {
    width: 300px;
    height: 337px;
  }
}

@media screen and (max-width: 1022px) {
  #home-title-container {
    height: 95vh;
  }

  #welcome-container {
    margin-top: 0px;
  }

  #welcome-text {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1280px) {
  #content-vision-section {
    width: 100vw;
  }

  #content-vision-4-benefits-row {
    width: 100%;
  }

  #team-individual-card {
    height: 350px;
  }

  #marquee {
    width: 100vw;
  }
}

@media screen and (max-width: 912px) {

  /****************************** NAVIGATION ******************************/

  #navigation {
    margin-top: 10px;
    height: 7.5vh;
    align-items: flex-start;
  }

  #nav-bar {
    display: none;
  }

  #socials {
    display: none;
  }

  #hamburger-react {
    margin-left: auto;
  }

  #bgr-menu {
    display: flex;
    flex-direction: column;
  }

  #bgr-nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
  }

  #bgr-socials {
    margin-top: 5px;
  }

  /****************************** HOME ******************************/

  #header-home {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }

  #home-title-container {
    height: 100vh;
    font-size: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  #home-title {
    font-size: 100px;
  }

  #home-subtitle {
    font-size: 4vw;
    margin-left: 5px;
    margin-right: 5px;
  }

  #home-image-left,
  #home-image-right {
    display: none;
  }

  #home-image-center {
    width: 300x;
    height: 337px;
  }

  #home-image-container-animation {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
  }

  #home-image-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 90%;
  }

  #welcome-container {
    width: 97vw;
  }

  #welcome-text {
    margin: 0 0 20px 0;
  }

  #grid-container {
    width: 97vw;
  }

  #grid-row-1,
  #grid-row-3 {
    justify-content: space-evenly;
    margin-left: 0px;
    width: 97vw;
  }

  #grid-row-2 {
    justify-content: space-evenly;
    margin-right: 0px;
    width: 97vw;
  }

  #grid-item {
    margin: 5px;
    max-height: 120px;
  }

  #grid-text-small-screen {
    display: flex;
    font-family: 'DM Sans';
    font-size: 25px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000;
  }

  #grid-item-none-2,
  #grid-item-none-1or3 {
    display: none;
  }

  /****************************** VISION ******************************/

  #header-vision {
    justify-content: center;
  }

  #hero-vision-section {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #hero-img-vision-card {
    flex-direction: row;
    width: 97vw;
    max-width: 500px;
    min-width: 310px;
    min-height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  #hero-content-vision-card {
    width: fit-content;
    margin: 0;
    padding: 0 5vw 0 5vw;
  }

  #content-vision-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  #content-vision-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #h1-vision {
    text-align: center;
  }

  #h2-vision {
    text-align: center;
  }

  #content-vision-4-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }

  #content-vision-benefit {
    width: 35%;
    min-width: 290px;
    min-height: 173px;
    max-width: 458px;
    margin: 0 0 20px 0;
    height: fit-content;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #content-vision-4-benefits-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    margin: 0 0;
    width: 100%;
  }

  #content-vision-benefit-item {
    margin-top: 10px;
  }

  #content-benefit-icon {
    font-size: 28px;
    margin-left: 20px;
    margin-top: 5px;
  }

  #footer {
    padding: 15px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 97vw;
    height: auto;
  }

  #marquee {
    width: 100vw;
  }

}

@media screen and (max-width: 991px) {
  #content-vision-4-benefits-row {
    padding: 0;
    width: 100%;
  }

  #content-vision-benefit {
    width: 40vw;
  }

  #header-team {
    width: 100%;
  }

  #hero-team-title {
    width: 100%;
  }

  #team-row {
    width: 95%;
  }

  #team-individual-card {
    width: 170px;
    height: 310px;
  }

  #team-individual-img-1,
  #team-individual-img-2,
  #team-individual-img-3,
  #team-individual-img-4,
  #team-individual-img-5,
  #team-individual-img-6,
  #team-individual-img-7,
  #team-individual-img-8 {
    width: 170px;
    height: 170px;
  }

  #header-mint {
    width: 100%;
  }


  #image-minting-card {
    width: 350px;
    height: 250px;
  }

  #minting-card {
    width: 350px;
    height: 250px;
  }

  #footer {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #hero-team-title {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #team-section {
    width: 95vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  #team-row {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #team-individual-card {
    margin-top: 20px;
  }

  #team-individual-card {
    width: 180px;
    height: 280px;
  }

  #team-individual-img-1,
  #team-individual-img-2,
  #team-individual-img-3,
  #team-individual-img-4,
  #team-individual-img-5,
  #team-individual-img-6,
  #team-individual-img-7,
  #team-individual-img-8 {
    width: 180px;
    height: 180px;
  }

  #minting-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #minting-card {
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  #team-row {
    margin-top: 20px;
  }

  #team-individual-card {
    width: 150px;
    height: 270px;
  }

  #team-individual-img-1,
  #team-individual-img-2,
  #team-individual-img-3,
  #team-individual-img-4,
  #team-individual-img-5,
  #team-individual-img-6,
  #team-individual-img-7,
  #team-individual-img-8 {
    width: 150px;
    height: 150px;
  }

  #image-minting-card {
    display: none;
    width: 97vw;
    height: 200px;
  }

  #minting-card {
    width: 97vw;
    height: 200px;
  }
}